<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-IrrigationAdvisor-20141014081457.mdf;Initial Catalog=aspnet-IrrigationAdvisor-20141014081457;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--Connection to Production-->
    <!--<add name="IrrigationAdvisorContext" providerName="System.Data.SqlClient"
              connectionString="data source=AGSFLS01;
              initial catalog=IrrigationAdvisor;integrated security=False;
              User Id=IRAdvisor;Password=PGWWater2014;
              MultipleActiveResultSets=True;
              App=EntityFramework"  />-->
    <!--Connection to DEMO-->
    <!--<add name="IrrigationAdvisorContext" providerName="System.Data.SqlClient"
              connectionString="data source=AGSFLS01;
              initial catalog=IrrigationAdvisor-DEMO;integrated security=False;
              User Id=IRAdvisor;Password=PGWWater2014;
              MultipleActiveResultSets=True;
              App=EntityFramework"  />-->
    <!--Connection to local Database-->
    <add name="IrrigationAdvisorContext" connectionString="data source=.;                   initial catalog=IrrigationAdvisor-Season-2016-2017;integrated security=True;                   MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="LanguageContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=LanguageContext-20150902195857; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|LanguageContext-20150902195857.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="DemoDateOfReference" value="2015/12/10"/>
    <add key="Debug" value="true"/>
    <add key="smtpAddress" value="mail.pgwwater.com.uy"/>
    <add key="smtpPort" value="25"/>
    <add key="ssl" value="false"/>
    <add key="emailFrom" value="iadvisor@pgwwater.com.uy"/>
    <add key="password" value="+riEgo16*"/>
    <add key="emailTo" value="iadvisortest@googlegroups.com"/>
    <add key="WUndergroundAPIbase" value="http://api.wunderground.com/api/"/>
    <add key="WUndergroundAPIkeyIndex" value="ac6d819f785ccfa5/"/>
    <add key="WUndergroundAPIkeyHome" value="ce3cdec37a1bdc8d/"/>
    <add key="WUndergroundAPIforcast10days" value="forecast10day/lang:SP/q/"/>
    <add key="WUndergroundAPIastronomy" value="astronomy/lang:SP/q/"/>
    <add key="WUndergroundAPIgeolookup" value="geolookup/lang:SP/q/"/>
    <add key="WUndergroundAPIconditions" value="conditions/lang:SP/q/"/>
    <add key="Status" value="Production"/>
    <add key="PlusButton" value="false"/>
    <!--<add key="Status" value="Demo"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication>
      <forms loginUrl="~/Account/Login"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
    <sessionState timeout="525600"/>
    <pages>
      <namespaces>
        <add namespace="GridMvc"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>