<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="WeatherStations" value="1,2,3,4,5"/>
    <add key="Url" value="http://my.meteoblue.com/packages/{0}?lat={1}&amp;lon={2}&amp;apikey=2c27df42b862"/>
    <add key="smtpAddress" value="mail.pgwwater.com.uy" />
    <add key="smtpPort" value="25" />
    <add key="ssl" value="false" />
    <add key="emailFrom" value="iadvisor@pgwwater.com.uy" />
    <add key="password" value="+riEgo16*" />
    <add key="emailTo" value="cristiangonzalezalvarez@gmail.com" />
    <add key="copyTo" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/IRAdvisorModel.csdl|res://*/IRAdvisorModel.ssdl|res://*/IRAdvisorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IrrigationAdvisor-30052018;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>