@model IrrigationAdvisor.ViewModels.Reports.ReportIrrigationUnitViewModel
@{
    Layout = null;
}
<script type="text/javascript">

    window.onload = function () {
        window.print();
        setTimeout(function () { window.close(); }, 1);
    }

</script>
<link href="~/css/print.css" rel="stylesheet" />
<div class="container">
    <div class="title">PGG Wrightson Water</div>
</div>

<div class="container">

    <p><strong> @Html.DisplayFor(model => model.Title)</strong></p>

</div>
<div class="container">
    <table border="0">

            <tr style="height:10px"><td style="border-color:white"></td></tr>
            <tr>
                <td style="border-color:white">

                    <table cellspacing="0" border="1" style="table-layout:fixed; width:1000px" align="center">
                        <thead>
                           @{ Html.RenderAction("ReportIrrigationUnitHeaderPartial", "ReportIrrigationUnit", new { area = "" }); }
                        </thead>
                        <tbody>
                            @{ Html.RenderAction("ReportIrrigationUnitPartial", "ReportIrrigationUnit", new { area = "" }); }
                        </tbody>

                    </table>





                </td>

            </tr>

    </table>


</div>