@model IrrigationAdvisor.ViewModels.Reports.ReportIrrigationUnitViewModel

<section class="content-bar ps-container">
    <div class="container">
        <div class="col-md-11">
            <div class="col-md-4">
                <ul class="bar-resp">
                    <li> <a> <em class="icon md-flag"></em> @Html.DisplayFor(model => model.Title)</a> </li>

                </ul>
            </div>
        </div>

    </div>
</section>

<section class="profile">
    <div class="container">
        <div class="col-md-12" style="padding-left:0">
            <div class="tab-content" border="0">
                <table style="width:300px" align="right">
                    <tr>
                         <td align="center" style="border-color:white">
                             <a title="Imprimir reporte" href="../ReportIrrigationUnitPrintable?ciw=@Model.CropIrrigationWeatherId" onclick="window.open('../ReportIrrigationUnitPrintable?ciw=@Model.CropIrrigationWeatherId', 'newwindow', 'width=1000,height=800'); return false;">Imprimir</a>
                        </td>
                        <td align="center" style="border-color:white">
                            <a title="Volver a la página anterior" href="javascript:window.history.back();">  Volver  </a>
                        </td>
                    </tr>
                </table>
                <table>

                    <tr>
                        <td>
                                <div class="table-body">
                                    <!--table-->
                                    <table class="main-table-advisor" border="1" style="table-layout:fixed; width:1000px" align="center"  >
                                        <thead>
                                            <tr>
                                                @{ Html.RenderAction("ReportIrrigationUnitHeaderPartial", "ReportIrrigationUnit", new { area = "" }); }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ Html.RenderAction("ReportIrrigationUnitPartial", "ReportIrrigationUnit", new { area = "" }); }
                                        </tbody>
                                        <!--
        <tbody>
            <tr>
                <td colspan="2"><b>TOTAL:</b></td>


            </tr>
        </tbody>
            -->
                                    </table>
                                </div>

                        </td>

                    </tr>
                </table>


            </div>

        </div>

    </div>
</section>


