<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- CHANGE 2020-01-15
    <add key="smtpAddress" value="mail.pgwwater.com.uy" />
    <add key="smtpPort" value="25" />
    <add key="ssl" value="false" />
    <add key="emailFrom" value="iadvisor@pgwwater.com.uy" />
    <add key="password" value="+riEgo16*" />
    <add key="emailTo" value="cristiangonzalezalvarez@gmail.com" />
	-->
    <add key="smtpAddress" value="smtp.gmail.com" />
    <add key="smtpPort" value="25" />
    <add key="ssl" value="true" />
    <add key="emailFrom" value="iadvisor.notificaciones@gmail.com" />
    <add key="password" value="riego2020" />
    <add key="emailTo" value="iadvisortest@googlegroups.com" />
    
    <add key="Status" value="Production" />
    <add key="IntervalDays" value="3"/>
    <add key="subject" value="Confirmación de riego pendientes."/>
    <add key="message" value="Usuario de InRiego usted tiene [number] riegos pasados sin confirmar para las fechas [dates] por favor confirme los riegos. [br] Gracias."/>
  </appSettings>
<connectionStrings><add name="IrrigationAdvisorEntities" connectionString="metadata=res://*/IRAdvisorModel.csdl|res://*/IRAdvisorModel.ssdl|res://*/IRAdvisorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IrrigationAdvisor;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>