
#modal {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:absolute;
	top:-50%;
	visibility: hidden;
	width:80%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
#modal-lluvia {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:absolute;
	top:-50%;
	visibility: hidden;
	width:80%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
#modal-fenologia {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:absolute;
	top:-50%;
	visibility: hidden;
	width:80%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
	
	#modal:target {
    opacity: 1;
    top: 80%;
    visibility: visible;
    /* margin: 0 auto; */
    left: 50%;
	}
	#modal-lluvia:target {
    opacity: 1;
    top: 80%;
    visibility: visible;
    /* margin: 0 auto; */
    left: 50%;
	}
	#modal-fenologia:target {
    opacity: 1;
    top: 80%;
    visibility: visible;
    /* margin: 0 auto; */
    left: 50%;
	}
#modal .header,#modal .footer {
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
}
#modal-lluvia .header,#modal-lluvia .footer {
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
}
#modal-fenologgia .header,#modal-fenologia .footer {
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
}
#modal-lluvia .footer {
		border:none;
		border-top: 1px solid #e7e7e7;
		border-radius: 0 0 5px 5px;
		text-align: right;
	}
	#modal-fenologia .footer {
		border:none;
		border-top: 1px solid #e7e7e7;
		border-radius: 0 0 5px 5px;
		text-align: right;
	}
	#modal .footer {
		border:none;
		border-top: 1px solid #e7e7e7;
		border-radius: 0 0 5px 5px;
		text-align: right;
	}
#modal h2 {
	margin:0;
}
#modal-lluvia h2 {
	margin:0;
}
#modal-fenologia h2 {
	margin:0;
}
#modal .btn {
	/*float:left;*/
}
#modal .copy,#modal .header, #modal .footer {
	padding:15px;
}
#modal-lluvia .copy,#modal-lluvia .header, #modal-lluvia .footer {
	padding:15px;
}
#modal-fenologia .copy,#modal-fenologia .header, #modal-fenologia .footer {
	padding:15px;
}
.modal-content {
	background: #f7f7f7;
	position: relative;
	z-index: 20;
	border-radius:5px;
}
#modal .copy {
	background: #fff;
}
#modal-lluvia .copy {
	background: #fff;
}

#modal-fenologia .copy {
	background: #fff;
}

#modal .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#modal-lluvia .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#modal-fenologia .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.form-control {
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control-datePicker {
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.dropdown{
	/*float:left;*/
}

/*   Responsive-----------------------------------------------*/

@media screen and (max-width: 1199px) {
	
	
	#modal-lluvia:target{
	opacity: 1;
  /* top: 20%;*/
    visibility: visible;
    /* margin: 0 auto; */
    left: 50%;
	}
	
	#modal-fenologia:target {
    opacity: 1;
   /* top: 20%;*/
    visibility: visible;
    left: 50%;
}

#modal:target {
    opacity: 1;
   /* top: 20%;*/
    visibility: visible;
    left: 50%;
}
	
}

@media screen and (max-width: 767px) {
	
	#modal-fenologia:target {
    opacity: 1;
    top: 20%;
    visibility: visible;
    left: 50%;
	}
	
	#modal:target {
    opacity: 1;
  top: 20%;
    visibility: visible;
    left: 50%;
}

	#modal-lluvia:target{
	opacity: 1;
   top: 20%;
    visibility: visible;
    /* margin: 0 auto; */
    left: 50%;
	}
}