
<div class="row">
    <div class="col-md-7">
        <h3 class="md">Enviar mensaje</h3>
        <div id="contact-form-wrap">
            <span class="c-note"></span>
            <div class="contact-left">
                <p class="input-block clearfix">
                    <label class="required" for="contact_name"><span>*</span></label>
                    <input class="valid" type="text" name="name"  placeholder="Nombre" id="contact_name" value="">
                </p>
                <p class="input-block">
                    <label class="required" for="contact_email"><span>*</span></label>
                    <input type="email" placeholder="Email" class="valid" name="email" id="contact_email" value="">
                </p>
            </div><!--end:contact-left-->
            <div class="contact-right">
                <p class="textarea-block">
                    <label class="required" for="contact_message"><span>*</span></label>
                    <textarea rows="4" placeholder="Mensaje" cols="60" id="contact_message" name="message"></textarea>
                </p>
            </div><!--end:contact-right-->
            <div class="clear"></div>
            <p class="contact-button clearfix">
                <button id="btnEmail" class="btn btn-success">Enviar mensaje</button>
            </p>
            <div class="clear"></div>
        </div><!--contact-form-wrap-->
    </div>
</div>
<div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-7">
        <div class="alert alert-success fade in" id="AlertMessageOk">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Mensaje enviado</strong>
        </div>
        <div class="alert alert-danger fade in" id="AlertMessageError">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Ha ocurrido un error al enviar el mensaje</strong>
        </div>
        <div class="alert alert-warning fade in" id="MissingFieldMessage">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Complete los datos obligatorios</strong>
        </div>
        <div class="alert alert-info fade in" id="ProcessFieldMessage">
            <strong>Procesando ...</strong>
        </div>
    </div>
</div>


<script>

    var messageOk = $('#AlertMessageOk');
    var messageError = $('#AlertMessageError');
    var missingFieldMessage = $('#MissingFieldMessage');
    var processFieldMessage = $('#ProcessFieldMessage');

    var contactEmail = $("#contact_email");
    var contactMessage = $("#contact_message");
    var contactName = $("#contact_name");

    var btnEmail = $('#btnEmail');

    messageOk.hide();
    messageError.hide();
    missingFieldMessage.hide();
    processFieldMessage.hide();

    var showMessage = function(message, timeOut)
    {

        message.show();

        if (timeOut > 0)
        {

            setTimeout(function () {
                message.hide();
            }, timeOut);

        }
        

    }


    var mandatoryFields = function()
    {

        if(contactEmail.val().trim() != '' && contactMessage.val().trim() != '' && contactName.val().trim() != '')  
        {
            return true;
        }
        else
        {
            return false;
        }
    }


    btnEmail.click(function (e) {


 
        var element = this;


        btnEmail.attr('disabled', true);

        var contact_email = contactEmail.val()
        var contact_message = contactMessage.val()
        var contact_name = contactName.val();




        var subject = 'Contacto desde página';

        if (mandatoryFields())
        {
            showMessage(processFieldMessage, 0);
            $.ajax({
                url: '/Home/SendEmails?subject=' + subject + ' de ' + contact_name + '&body=' + contact_message + '\n Email de contacto: ' + contact_email,
                type: "GET",
                dataType: "text",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    processFieldMessage.hide();

                    if (data == "Ok") {
                        showMessage(messageOk, 5000);
                        contactEmail.val('');
                        contactMessage.val('');
                        contactName.val('');
                        btnEmail.attr('disabled', false);
                    }
                    else {

                        showMessage(messageError, 5000);
                        btnEmail.attr('disabled', false);
                    }


                },
                error: function (data) {

                    showMessage(messageError, 5000);

                    btnEmail.attr('disabled', false);

                }
            });

        }else
        {
            showMessage(missingFieldMessage, 5000);
            btnEmail.attr('disabled', false);
        }
        
    });

</script>
