@model IrrigationAdvisor.ViewModels.Home.MenuViewModel

<li class="current-menu-item">
    <a href="http://@Request.Url.Host:@Request.Url.Port/Home/Home">Inicio</a>
</li>
<li>
    <a href="../Home/Company">Empresa</a>
</li>
<li>
    <a href="../Home/Contact">Contacto</a>
</li>
@{
    if (Model.IsAdministrator)
    {
        <li>
            <a href="../Users">Usuarios</a>
        </li>
        <li>
            <a href="../Weatherdatas">Datos del clima</a>
        </li>
    <!--
    <li>
        
        <a href="../WizardFarmBomb">Farm</a>
    </li>
        -->
    }

}

<li>
    <a href="../Home/LogOut">Salir</a>
</li>
