<!-- company --->
<section id="company-section">
    <div class="container">
        <div class="image-container">
            <img src="../images/company/img-1.jpg" alt="">
        </div>
        <div class="title-ct">
            <h3><strong>PGW Water</strong> Soluciones Integrales</h3>
        </div>
        <div class="company-content-wrap">
            <div class="row">
                <div class="col-md-8">
                    <div class="txt-content">
                        <div class="mc-title">
                            <h3 class="xs">Empresa:</h3>
                        </div>
                        <p class="txt-company"><strong>PWG Water es la Unidad de Riego de la Compañía PGG Wrightson en Uruguay.</strong></p>
                    </div>

                    <div class="txt-content">
                        <div class="mc-title">
                            <h3 class="xs">¿Qué hacemos?</h3>
                        </div>
                        <p class="txt-company">- Desarrollamos proyectos y servicios en el área de la Ingeniería, Tecnología y Manejo del agua a nivel agropecuario.</p>
                        <p class="txt-company">- Suministramos soluciones llave en mano orientadas a:</p>
                        <div class="txt-content">
                            <p class="txt-company">• Maximizar la ingeniería del proyecto.</p>
                            <p class="txt-company">• Utilizar  componentes de primer nivel.</p>
                            <p class="txt-company">• Lograr un proyecto rentable y sustentable.</p>
                            <p class="txt-company">• Brindar Soporte continuo </p>
                        </div>
                        <p class="txt-company">- Investigación y Desarrollo</p>
                        <br />
                    </div>

                    <div class="txt-content">
                        <div class="mc-title">
                            <h3 class="xs">¿Cómo trabajamos?</h3>
                        </div>
                        <p class="txt-company">Acompañamos al productor en todas las instancias involucradas en un proyecto de riego; 
                        desde el análisis de viabilidad técnica y económica, hasta el manejo del riego en cultivos; 
                        brindándole profesionalismo y confianza en la toma de decisiones.</p>

                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="txt-content">
                        <div class="mc-title">
                            <h3 class="xs">Objetivo</h3>
                        </div>
                        <p class="txt-company"><strong>Conocer el sistema SUELO – PLANTA – ATMÓSFERA para definir el manejo del riego en cultivos.</strong> </p>
                        <br />
                    </div>
                    <div class="txt-content">
                        <p class="txt-company">
                            <strong>Suelos:</strong>
                            Conocer y cuantificar los principales parámetros físico-hídricos del suelo, como ser: capacidad de infiltración de agua, densidad, porosidad total, textura, agua disponible, fertilidad, y profundidad del perfil de suelo.
                        </p>
                        <p class="txt-company">
                            <strong>Clima:</strong>
                            Las principales variables climáticas (radiación solar, velocidad del viento, humedad y temperatura del aire) son cuantificadas para el cálculo de la evapotranspiración de referencia o ETo.
                        </p>
                        <p class="txt-company">
                            <strong>Pivot:</strong>
                            Cuantificar la lámina diaria de riego, así como la uniformidad de aplicación del equipamiento es una herramienta clave para determinas las dosis y frecuencia de riego.
                        </p>
                        <p class="txt-company">
                            <strong>Cultivo:</strong>
                            Finalmente, relacionando la ETo con el Kc (coeficiente de cultivo) se obtiene la evapotranspiración de cultivo o ETc. Dicho coeficiente (Kc) es específico de cada cultivo y para cada fase de desarrollo.
                        </p>
                        <p class="txt-company">
                            <strong>Resultados:</strong>
                            Integrando todas las variables se obtiene el cálculo diario de ETo; complementado con visitas a campo donde se toman datos de: área foliar, altura de planta, profundidad radicular y contenido de humedad del suelo, se corrigen las ecuaciones, ajustando y monitoreando así todos los parámetros que gobiernan el consumo de agua de los cultivos.
                        </p>
                        <br />
                        <br />
                    </div>

                </div>
            </div>
        </div>
    </div>

    </section>
    <!--end section company-->
