<section class="map-contact">
    <div class="col-md-12">
        <div class="google-map">
            <div style="height:500px;width:1200px;max-width:100%;list-style:none; transition: none;overflow:hidden;">
                <div id="embed-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Colonia+1234,+Montevideo,+Montevideo+Department,+Uruguay&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-code" rel="nofollow" href="https://www.bootstrapskins.com" id="get-map-data"></a>

                <style>
                    #embed-map-canvas .map-generator {
                        max-width: 100%;
                        max-height: 100%;
                        background: none;
                    }
                </style>
            </div>


        </div>
    </div>
</section>
