@{
    ViewBag.Title = "About";
}

 


 


@{ Html.RenderAction("LoginHomePartial", "Home"); }


<!-- end login-->
<!-- slide -->


<div class="demo_wrapper">
    <div class="demo_block">
        <ul id="demo1">
            <li>
                <img src="../images/homeslider/img-1.jpg" alt="">
            </li>
            <li><img src="../images/homeslider/img-2.jpg" alt=""></li>
            <li><img src="../images/homeslider/img-3.jpg" alt=""></li>
        </ul>
    </div>
</div>

<!-- end slider -->
<!--SE AGREGO ESTO HTML ----- weather-->

@*@{ Html.RenderAction("WeatherPartial", "Home"); }*@
                     
<!-- end weather-->
<!-- image--->

<section class="image-diagram">
    <div class="title-images"><h2>PGW Water recomienda cuando y cuanto regar</h2></div>
    <div class="container">

        <img src="../images/img-diagrama-riego-1.png" alt="" />
    </div>


</section>