<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="weatherStations" value="1,2,3,5"/>
    <!-- 1 = INIA Las Brujas
         2 = INIA La Estanzuela
         3 = INIA Tacuarembó
         5 = INIA Salto Grande
    -->
    <add key="data" value="5,6,13,14,15,16,39,40,41"/>
    <add key="url" value="http://www.inia.org.uy/online/site/gras-sp.php"/>
    <add key=""/>
  </appSettings>
</configuration>