<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="weatherStations" value="1,2,3,5" />
    <!-- 1 = INIA Las Brujas
         2 = INIA La Estanzuela
         3 = INIA Tacuarembó
         5 = INIA Salto Grande
    -->
    <add key="firefox" value="C:/Program Files/Mozilla Firefox/Firefox.exe"/>
    <add key="data" value="5,6,14,15,16,18,39,40,41,42" />
    <add key="url" value="http://www.inia.org.uy/online/site/gras-sp.php" />
    <add key="smtpAddress" value="mail.pgwwater.com.uy" />
    <add key="smtpPort" value="25" />
    <add key="ssl" value="false" />
    <add key="emailFrom" value="iadvisor@pgwwater.com.uy" />
    <add key="password" value="+riEgo16*" />
    <add key="emailTo" value="cristiangonzalezalvarez@gmail.com" />
    <add key="copyTo" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="IrrigationAdvisorEntities" connectionString="metadata=res://*/IrrigationAdvisor.csdl|res://*/IrrigationAdvisor.ssdl|res://*/IrrigationAdvisor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IrrigationAdvisor;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>