body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}





.weatherFeed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin: 1em 2em;
	width: 280px;
}
.weatherFeed a { color: #888; }
.weatherFeed a:hover {
	color: #000;
	text-decoration: none;
}
.weatherItem {
	padding: 0.8em;
	text-align: right;
}
.weatherCity { text-transform: uppercase; }
.weatherTemp {
	font-size: 2.8em;
	font-weight: bold;
}
.weatherDesc, .weatherCity, .weatherForecastDay  { font-weight: bold; }
.weatherDesc { margin-bottom: 0.4em; }
.weatherRange, .weatherWind, .weatherLink, .weatherForecastItem { font-size: 0.8em; }
.weatherLink, .weatherForecastItem {
	margin-top: 0.5em;
	text-align: left;
}
.weatherForecastItem {
	padding: 0.5em 0.5em 0.5em 80px;
	background-color: #fff;
	background-position: left center;
}
.weatherForecastDay { font-size: 1.1em; }

.odd { background-color: #e8e8fc; }
.even { background-color: #d4d4e8; }

